body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #333;
}

header {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5%;
  border-bottom: solid 1px #3f3f3f;
  user-select: none;
}

header h1 {
  margin: 0;
}

.LogoGouv {
  position: absolute;
  left: 15%;
  top: 0%;
  height: 100%;
}
.ConnexionContainer {
  position: absolute;
  right: 20%;
  top: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40%;
  cursor: pointer;
  text-decoration: none;
}

.Connexion {
  width: 30px;
  height: auto;
}

.ConnexionText {
  color: #b3bfff;
  margin-left: 5%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  max-width: 80%;
  margin: auto;
}

section {
  scroll-margin-top: 88px; /* adapte à la hauteur de ton header */
  margin-bottom: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
}

.articleListe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.article {
  position: relative;
  background-color: #161616;
  color: #cecece;
  padding: 1%;
  margin: 1% 0 2% 0;
  border: solid 1px #3f3f3f;
  border-bottom: solid 8px #8585f6;
  user-select: none;
}

.article:hover {
  background-color: #3f3f3f;
  border-color: #161616;
  border-bottom: solid 8px #8585f6;
  cursor: pointer;
}

.article h2 {
  text-align: center;
  color: #8585f6;
}

.purpleArrow {
  position: absolute;
  right: 2%;
  top: 80%;
  width: 20px;
  height: auto;
}

.autor {
  font-style: italic;
}

.date {
  font-style: italic;
  font-size: small;
}

.article_nav {
  background-color: #aaa;
  div {
    background-color: #777;
    width: 30px;
    height: 30px;
  }
}

.suggestionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.suggestionLoi {
  position: relative;
  background-color: #161616;
  color: #cecece;
  padding: 1%;
  margin: 1% 0 2% 0;
  border: solid 1px #3f3f3f;
  border-bottom: solid 8px #8585f6;
  user-select: none;
}

.suggestionLoi:hover {
  background-color: #3f3f3f;
  border-color: #161616;
  border-bottom: solid 8px #8585f6;
  cursor: pointer;
}
.suggestionLoi h2 {
  text-align: center;
  color: #8585f6;
}
