body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #333;
}

header {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5%;
  border-bottom: solid 1px #3f3f3f;
  user-select: none;
}

header h1 {
  margin: 0;
}

.LogoGouv {
  position: absolute;
  left: 15%;
  top: 0%;
  height: 100%;
}

.ConnexionContainer {
  position: absolute;
  right: 20%;
  top: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40%;
  cursor: pointer;
  text-decoration: none;
}

.Connexion {
  width: 30px;
  height: auto;
}

.ConnexionText {
  color: #b3bfff;
  margin-left: 5%;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 1.8rem;
}

nav ul li a:hover {
  color: #8585f6;
  border-bottom: solid 2px #8585f6;
  transition: 0.1s ease-in-out;
}

nav ul li a.active {
  color: #8585f6;
  border-bottom: solid 2px #8585f6;
}

main {
  padding: 20px;
  max-width: 80%;
  margin: auto;
}

section {
  scroll-margin-top: 88px;
  /* adapte à la hauteur de ton header */
  margin-bottom: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
}

.articleListe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.article {
  position: relative;
  background-color: #161616;
  color: #cecece;
  padding: 1%;
  margin: 1% 0 2% 0;
  border: solid 1px #3f3f3f;
  border-bottom: solid 8px #8585f6;
  user-select: none;
}

.article:hover {
  background-color: #3f3f3f;
  border-color: #161616;
  border-bottom: solid 8px #8585f6;
  cursor: pointer;
}

.article h2 {
  text-align: center;
  color: #8585f6;
}

.purpleArrow {
  position: absolute;
  right: 2%;
  top: 80%;
  width: 20px;
  height: auto;
}

.autor {
  font-style: italic;
}

.date {
  font-style: italic;
  font-size: small;
}

.article_nav {
  background-color: #aaa;

  div {
    background-color: #777;
    width: 30px;
    height: 30px;
  }
}

.suggestionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.suggestionLoi {
  position: relative;
  background-color: #161616;
  color: #cecece;
  padding: 1%;
  margin: 1% 0 2% 0;
  border: solid 1px #3f3f3f;
  border-bottom: solid 8px #8585f6;
  user-select: none;
}

.suggestionLoi:hover {
  background-color: #3f3f3f;
  border-color: #161616;
  border-bottom: solid 8px #8585f6;
  cursor: pointer;
}

.suggestionLoi h2 {
  text-align: center;
  color: #8585f6;
}


/* style.css pour CreateNews.html */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #7070ea;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
  display: block;
  font-size: 1.1rem;
  margin: 2.5% 0 0.5% 0;
  color: #8585f6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1e1e1e;
  font-size: 1rem;
  transition: border-color 0.1s ease-in-out;
  color: #cecece;

  font-family: 'Courier New', Courier, monospace;

}

input:focus,
textarea:focus {
  border-color: #6a6aea;
  outline: none;
  background-color: #1e1e1e;
}

.btn-submit {
  padding: 0.75rem 1.5rem;
  background-color: #6a6aea;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  margin-top: 2rem;
}

.btn-submit:hover {
  background-color: #3d3ddd;
}

.seperate {
  padding: 1%;
}

.avertissementSuggestion{
  background-color: #333;
  color: #ccc;
}

.articleDetail{
  background-color: #333;
  color: #ccc;
}

.suggestionLoiDetail{
  background-color: #333;
  color: #ccc;
}
.suggestionAvis{
  background-color: #333;
  color: #ccc;
  padding: 12px;
}

.suggestionAvisPositif{
  background-color: #555;
  color: #ccc;
}

.suggestionAvisDefavorable{
  background-color: #555;
  color: #ccc;
}